body {
	font-family: 'Lato', sans-serif;
}



#quiz {
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;

}

input {
	margin-bottom: 20px;
	display: block;
}



#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}
body
{
	background-color:#FDD20EFF;
}

#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;
	height: 458px;


}

#picture {
	width: 375px;
	height: 245px;
}
h1{
	color:#184A45FF;
	margin-left: 50px;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	
	
	
}
h1:hover
{
	width: 300px;
	background-color: #00b1d2ff;
	transition-timing-function: ease-in;
}



#mc {
	display: inline;
} 